<%- include('partials/header') %>


<h1 class="company-heading">GOVERNMENT</h1>
<a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
<iframe src="https://charts.mongodb.com/charts-auth-xcwit/public/dashboards/d4147292-2b03-4acc-ae8a-81853263879d" frameborder="0" width="1450" height="700"></iframe>
      
<%- include('partials/header') %>